.juego-tablero {
    display: flex;
    flex-direction: column;
}

.juego {
    display: flex;
    align-content: space-evenly;
    align-items: space-evenly;
    justify-content: space-evenly;
    justify-items: space-evenly;
    width: 30%;
}